@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'Poppins';
  background: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

header {
  align-items: center;
  background-color: white;
  padding: 20px 40px;
}

header h1 {
  grid-column: span 6;
}

header nav {
  grid-column: 7 / span 6;
  justify-self: end;
}

header nav a {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
}

main {
  justify-items: center;
}

main > img {
  grid-column: 2 / span 10;
  width: 100%;
  border-radius: 6px;
}

main .welcome {
  text-align: center;
  grid-column: 3 / span 8;
}

main > h2 {
  grid-column: span 12;
  font-size: 1.5em;
  padding-top: 20px;
  text-align: center;
}

main .card {
  background-color: white;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  grid-column: 3 / span 8;
}

@media screen and (min-width: 960px) {
  main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
  }

  main .card {
    grid-column: span 4;
  }
}
